@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-100 {
    width: 25rem;
  }

  .w-104 {
    width: 26rem;
  }

  .w-108 {
    width: 27rem;
  }

  .w-112 {
    width: 28rem;
  }

  .w-116 {
    width: 29rem;
  }

  .w-120 {
    width: 30rem;
  }

  .w-124 {
    width: 31rem;
  }

  .w-128 {
    width: 32rem;
  }

  .w-132 {
    width: 33rem;
  }

  .w-136 {
    width: 34rem;
  }

  .w-140 {
    width: 35rem;
  }

  tbody > tr:nth-child(n) {
    background-color: #2D3036;
  }
  tbody > tr:nth-child(2n) {
    background-color: #35383E;
  }

  .border-spacing-0 {
    border-spacing: 0;
  }

  .border-spacing-1 {
    border-spacing: 1px;
  }

  .border-spacing-2 {
    border-spacing: 2px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1F2228;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
